@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/*Own Solution*/

body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.buttons {
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.footer {
  background: #eeeeee;
}

ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(90, 90, 90);
  text-decoration: none;
}


